html {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: #666633;
}

a:hover {
	color: #999966;
}

body {
	background: #cccc99;
}

.main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3ex;
	margin-top: 3ex;
	padding-bottom: 2ex;
	padding-top: 2ex;
	text-align: center;
	width: 90%;
	background: #fefefe;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 360px;
	height: 53px;
}

.music-links {
	margin-top: 1ex;
	margin-bottom: 1ex;
	font-size: 1.3em;
}

.social-links {
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.social-icon {
	width: 48px;
	height: 48px;
	margin-left: 1ex;
	margin-right: 1ex;
}

#band-columns-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

#band-columns {
	width: 640px;
	height: 640px;
}

hr {
	border: 0;
	height: 1px;
	background: #000000;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-weight: normal;
	font-size: 1.3em;
}

#shows-list {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1ex;
	width: 90%;
}

#shows-list .show {
	display: table-row;
}

#shows-list .show-info {
	display: table-cell;
	border: 2px solid #fefefe;
	background-color: gainsboro;
	padding: 0.5em 0 0.5em 0;
}

@media screen and (max-width: 800px) {
	body {
		background: #fefefe;
	}

	.main {
		width: 100%;
	}

	#band-columns-wrapper {
		max-width: 100%;
	}

	#band-columns {
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
